body{
    width: 70%;
    height: 100%;
    margin-left:40px;
    padding: 0;
    background-color: black;
    font-family: system-ui;
}
.box-1 {
  width: 350px;
  height: 100%;
  position: fixed;
  background-color: #333;
  right: 150px;
  transform: translate(500px);
  transition: all 1s;
  color: #eee;
}

.box-1:hover {
  transform: translate(160px);
  transition-duration: 1s;
  cursor: pointer;
}

.box-1 > h2:first-child {
  margin-top: -10px;
  margin-left: -90px;
  font-size: 55px;
  color: #fff;
  width: 150%;
  height: 100px;
  text-align: left;
  background-color: darkblue;
  opacity: 0.5;
  transition: 0.2s 0.2 all;
}
.box-1 > h2:first-child>i{
  margin-left: 20px;
  margin-top: 20px;
  color: aliceblue;
}

.box-1:hover > h2:first-child {
  width: 120%;
  opacity: 1;
}
.box-1>div>ul>li{
  margin-top: 20px;
}
.box-1>div>ul>li>a{
  text-decoration: none;
  font-size: 50px;
  color: aliceblue;
}
.box-1>div>ul>li>a:hover{
  color: green;
}
.orders{
margin: 25px 20px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-between;
font-size: 20px;
font-weight: 900;
height: 600px;
}
.box{
  display: flex;
  flex-direction: row;
}
.box>h2{
  font-size: 15px;
  margin-bottom: -120px;
  margin-right: 20px;
  margin-left: 20px;
}
#countLabel1{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#countLabel2{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#countLabel3{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#countLabel4{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#countLabel5{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#countLabel6{
  margin: 10px 10px;
display: flex;
text-align: center;
font-size: 15px;
font-weight: 900;
}
#order1{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
#order2{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
#order3{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
#order4{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
#order5{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
#order6{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  height: 50px;
}
.decreaseBtn{
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  width: 15px;
  height: 15px;
}
.increaseBtn{
margin: 15px 10px;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
font-weight: 900;
width: 15px;
height: 15px;
}
.resetBtn{
margin: 10px 10px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: 900;
width: 60px;
height: 30px;
}
.Btn{
  margin-right: -50px;
display: flex;
flex-direction: row;
width: 300px;
}
.box>img{
border-radius: 50%;
}
#total{
margin-bottom: -30px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.totalBtn{
cursor: pointer;
font-size: 20px;
color: aliceblue;
border: none;
background-color: blue;
width: 80px;
height: 50px;
}
.checkOut{
display: flex;
justify-content: center;
align-items: center;
}
.checkOutBtn{
cursor: pointer;
border: none;
background-color: blue;
width: 80px;
height: 50px;
color: aliceblue;
}
a>.checkOutBtn{
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 50px;
  color: aliceblue;
  }
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header {
    width: 140%;
    height: 100px;
    font-weight: 900;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  header > nav {
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background: black;
  }
  header > nav > div {
    color: aliceblue;
    font-size: 30px;
  }
  header > nav > ul {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }
  header > nav > ul > li {
    list-style: none;
  }
  header > nav > ul > li > a {
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
  }
  header > nav > ul > li > a:hover {
    color: red;
  }
  header > nav > ul > li.Login>a{
    color: red;
  
  }
header > div {
  height: 500px;
  width: 100%;
  background-image: url("imgs/backgroundDrink.jpeg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
header > div > div:nth-child(1) {
  width: 60%;
  margin-left: 10px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div > div:nth-child(1) > h1 {
  margin-right: 200px;
  font-size: 50px;
  font-weight: bold;
}
header > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
header > div > div > img {
  margin-right: 200px;
  margin-top: 200px;
}
header > div > div > img:nth-child(1) {
  margin-top: 130px;
  margin-right: -280px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: row;
}
header > div > div > img:nth-child(2) {
  margin-top: 115px;
  margin-right: -220px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;  
}
header > div > div > img:nth-child(3) {
  margin-top: 10px;
  margin-left: -240px;
  width: 250px;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.list{
  font-size: 18px;
  color: aliceblue;
    width: 120%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 600px;
    margin-left: 85px;
}
.list .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    padding: 20px;
    box-shadow: 0 50px 50px darkblue;
    letter-spacing: 1px;
}
.list .item div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-around;
}
.list .item img{
    height: 200px;
    width: 200px;
}
.list .item img:nth-child(){
  height: 600px;
  width: 200px;
}
.list .item .title  {
    margin-left: 300px;
    font-weight: 600;
}
.list .item .price{
    margin-left: 300px;
}
.list .item button{
    margin-left: 580px;
    background-color: #1C1F25;
    color: #fff;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
}
.card{
  display: flex;
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
    display: flex;
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: aliceblue;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
  color: aliceblue;
    background-color: darkblue;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
footer {
  color: aliceblue;
    margin-left: 35px;
    margin-top: 70px;
    width: 130%;
    background-image: url(imgs/backgroundDrink.jpeg);
  }
  footer > div {
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer > div > div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer > div > div > div > a {
    text-decoration: none;
    color: aqua;
  }
  footer > div > div > div:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
  }
  footer > div > div > div:nth-child(5) {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }